DATABASE_URL=
# The URL to the database. The directory must exist for the database to be created. Has to have 3 / in "sqlite:///".
# Example: sqlite:///C:/Users/<username>/AppData/Roaming/com.physicaladdons.blenderbase/test.db
