// **Navigation bar**
// DARK MODE
// $navigation_bar_links-text-color: #a3a4a9; 
$navigation_bar_links-active-bottom-border: #139efa;

// $navigation_bar-bottom-border-color: #a3a4a9;
 
// LIGHT MODE
$navigation_bar_links-text-color: #222222; 
// $navigation_bar_links-active-bottom-border: #139efa;

$navigation_bar-bottom-border-color: #222222;