@use "../color" as *;
@use "./color_consts" as *;
@use "./size_consts" as *;
@use "./navigation_bar_drag_region";
@use "./navigation_bar_utilities";
@use "./window_controls";

.navigation_bar {
    background-color: $background;
    height: $navbar-height;
    user-select: none;
    display: flex;
    border-bottom: 1px solid $navigation_bar-bottom-border-color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* Ensure it stays above other content */
    z-index: 100;
}

.navigation_bar_delimiter {
    margin-left: auto;
    flex-grow: 1;
}
